USE [master]
GO
/****** Object:  Database [NetkStaff]    Script Date: 21.12.2023 9:52:22 ******/
CREATE DATABASE [NetkStaff]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetkStaff', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NetkStaff.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetkStaff_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NetkStaff_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetkStaff].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetkStaff]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[DocName] [nvarchar](50) NULL,
	[IdTypeDoc] [int] NULL,
	[DocStatus] [bit] NULL,
	[ConfOfLoss] [bit] NULL,
	[ConfOfTrade] [bit] NULL,
	[ConfOfDestroy] [bit] NULL,
	[IdEduLevel] [int] NULL,
	[DocSeries] [nvarchar](50) NULL,
	[DocNumber] [nvarchar](40) NULL,
	[DateOfIssue] [date] NULL,
	[RegNumber] [nvarchar](50) NULL,
	[SpecializationCode] [int] NULL,
	[SpecializationName] [nvarchar](max) NULL,
	[NameOfQual] [nvarchar](max) NULL,
	[NameEduProg] [nvarchar](max) NULL,
	[YearOfAdmission] [int] NULL,
	[YearOfEnd] [int] NULL,
	[EduDuration] [int] NULL,
	[SurnameOfRecepient] [nvarchar](50) NULL,
	[NameOfRecepient] [nvarchar](50) NULL,
	[MiddleNameOfRecepinet] [nvarchar](50) NULL,
	[DOBRecepinet] [date] NULL,
	[SexRecepinet] [bit] NULL,
	[CountryCode] [int] NULL,
	[EduForm] [int] NULL,
	[FormOfEducationTermination] [int] NULL,
	[SourceOfFinancing] [int] NULL,
	[AvailabilityOfСontract] [bit] NULL,
 CONSTRAINT [PK_Archive] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryCode]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
 CONSTRAINT [PK_CountryCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisciplinesTaught]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisciplinesTaught](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Personnel_id] [int] NULL,
	[Discipline] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocType]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_DocType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationForm]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_EducationForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationLevel]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_EducationLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormOfEducationTermination]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormOfEducationTermination](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_FormOfEducationTermination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personnel]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personnel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](255) NOT NULL,
	[TotalWorkExperience] [int] NOT NULL,
	[TeachingExperience] [int] NOT NULL,
	[ImagePath] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Personnel_id] [int] NULL,
	[Qualification] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceOfFinancing]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceOfFinancing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_SourceOfFinancing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecializationCode]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecializationCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_SpecializationCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingDirectionsAndSpecialties]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingDirectionsAndSpecialties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Personnel_id] [int] NULL,
	[DirectionOrSpecialty] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 21.12.2023 9:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Personnel_id] [int] NULL,
	[ActivityArea] [nvarchar](255) NOT NULL,
	[Experience] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Archive] ON 

SET IDENTITY_INSERT [dbo].[Archive] OFF
GO
SET IDENTITY_INSERT [dbo].[CountryCode] ON 

INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (1, N'96')
INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (2, N'100')
INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (3, N'104')
GO
SET IDENTITY_INSERT [dbo].[CountryCode] OFF
GO
SET IDENTITY_INSERT [dbo].[DisciplinesTaught] ON 

INSERT [dbo].[DisciplinesTaught] ([id], [Personnel_id], [Discipline]) VALUES (1, 1, N'Статистика')
INSERT [dbo].[DisciplinesTaught] ([id], [Personnel_id], [Discipline]) VALUES (2, 1, N'Экономика организации')
INSERT [dbo].[DisciplinesTaught] ([id], [Personnel_id], [Discipline]) VALUES (3, 2, N'Статистика')
SET IDENTITY_INSERT [dbo].[DisciplinesTaught] OFF
GO
SET IDENTITY_INSERT [dbo].[DocType] ON 

INSERT [dbo].[DocType] ([Id], [Name]) VALUES (1, N'Диплом о среднем профессиональном образовании')
INSERT [dbo].[DocType] ([Id], [Name]) VALUES (2, N'Диплом о среднем профессиональном образовании (базовый уровень)')
INSERT [dbo].[DocType] ([Id], [Name]) VALUES (3, N'Академическая справка')
SET IDENTITY_INSERT [dbo].[DocType] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationForm] ON 

INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (1, N'Очная')
INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (2, N'Очно заочная (вечерняя)')
INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (3, N'Заочная')
SET IDENTITY_INSERT [dbo].[EducationForm] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationLevel] ON 

INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (1, N'Среднее профессиональное образование')
INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (2, N'Среднее профессиональное образование - программа подготовки специалистов среднего звена')
INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (3, N'Среднее профессиональное образование - программа подготовки квалифицированных рабочих, служащих')
SET IDENTITY_INSERT [dbo].[EducationLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[FormOfEducationTermination] ON 

INSERT [dbo].[FormOfEducationTermination] ([Id], [Name]) VALUES (1, N'в образовательной организации')
INSERT [dbo].[FormOfEducationTermination] ([Id], [Name]) VALUES (2, N'вне образовательной организации')
SET IDENTITY_INSERT [dbo].[FormOfEducationTermination] OFF
GO
SET IDENTITY_INSERT [dbo].[Personnel] ON 

INSERT [dbo].[Personnel] ([id], [FullName], [Position], [TotalWorkExperience], [TeachingExperience], [ImagePath]) VALUES (1, N'Кузнецова Наталья Геннадьевна', N'Заведующая отделением очной формы обучения, преподаватель', 31, 21, N'\ImageList\Kuznetsova.jpg')
INSERT [dbo].[Personnel] ([id], [FullName], [Position], [TotalWorkExperience], [TeachingExperience], [ImagePath]) VALUES (2, N'Щепетинщикова Наталья Николаевна', N'Заместитель директора по учебной работе, преподаватель высшей квалификационной категории, эксперт по оценке демонстрационного экзамена по стандартам WorldSkills, компетенция «Финансы», эксперт Чемпионата по профессиональному мастерству «Профессионалы»', 26, 19, N'\ImageList\Schepetinschikova.jpg')
SET IDENTITY_INSERT [dbo].[Personnel] OFF
GO
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([id], [Personnel_id], [Qualification]) VALUES (1, 1, N'Курсы повышения квалификации в Частном профессиональном образовательном учреждении «Нижегородский экономико-технологический колледж» по дополнительной профессиональной программе «Технология обучения в электронной образовательной среде», 120 часов, 2017 г.')
INSERT [dbo].[Qualifications] ([id], [Personnel_id], [Qualification]) VALUES (2, 1, N'Курсы повышения квалификации в Частном профессиональном образовательном учреждении «Нижегородский экономико-технологический колледж» по дополнительной профессиональной программе «Оказание первой помощи», 72 часа, 2017 г.')
INSERT [dbo].[Qualifications] ([id], [Personnel_id], [Qualification]) VALUES (3, 1, N'Курсы повышения квалификации в АНОО ВО Центросоюза РФ «Российский университет кооперации» по дополнительной профессиональной программе «Психолого-педагогические особенности обучения и воспитания обучающихся с ограниченными возможностями здоровья и инвалидов в условиях реализации Федеральных государственных образовательных стандартов СПО», 108 часов, 2018 г.')
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'Архивариус')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'Кадровик')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SourceOfFinancing] ON 

INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (1, N'Федеральный бюджет')
INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (2, N'Региональный бюджет')
INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (3, N'Местный бюджет')
SET IDENTITY_INSERT [dbo].[SourceOfFinancing] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecializationCode] ON 

INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (1, N'0100')
INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (2, N'0101')
INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (3, N'0102')
GO
SET IDENTITY_INSERT [dbo].[SpecializationCode] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingDirectionsAndSpecialties] ON 

INSERT [dbo].[TrainingDirectionsAndSpecialties] ([id], [Personnel_id], [DirectionOrSpecialty]) VALUES (3, 1, N'Российский государственный открытый технический университет путей сообщения, специальность «Экономика и управление на предприятии (ж.д.транспорт)», квалификация — экономист-менеджер')
INSERT [dbo].[TrainingDirectionsAndSpecialties] ([id], [Personnel_id], [DirectionOrSpecialty]) VALUES (4, 1, N'ФГБОУ ВПО «Арзамасский государственный педагогический институт имени А.П.Гайдара», программа профессиональной переподготовки «Социально-педагогические технологии в профессиональном обучении» с правом ведения профессиональной деятельности в сфере профессионального образования')
SET IDENTITY_INSERT [dbo].[TrainingDirectionsAndSpecialties] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [IdRole]) VALUES (1, N'Левкин Дмитрий Романович', N'Fuze', N'Fuze', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkExperience] ON 

INSERT [dbo].[WorkExperience] ([id], [Personnel_id], [ActivityArea], [Experience]) VALUES (1, 1, N'Организации, направление деятельности которых соответствует области профессиональной деятельности', 3)
INSERT [dbo].[WorkExperience] ([id], [Personnel_id], [ActivityArea], [Experience]) VALUES (2, 2, N'Организации, направление деятельности которых соответствует области профессиональной деятельности', 3)
SET IDENTITY_INSERT [dbo].[WorkExperience] OFF
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_CountryCode] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[CountryCode] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_CountryCode]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_DocType] FOREIGN KEY([IdTypeDoc])
REFERENCES [dbo].[DocType] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_DocType]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_EducationForm] FOREIGN KEY([EduForm])
REFERENCES [dbo].[EducationForm] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_EducationForm]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_EducationLevel] FOREIGN KEY([IdEduLevel])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_EducationLevel]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_FormOfEducationTermination] FOREIGN KEY([FormOfEducationTermination])
REFERENCES [dbo].[FormOfEducationTermination] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_FormOfEducationTermination]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_SourceOfFinancing] FOREIGN KEY([SourceOfFinancing])
REFERENCES [dbo].[SourceOfFinancing] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_SourceOfFinancing]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_SpecializationCode] FOREIGN KEY([SpecializationCode])
REFERENCES [dbo].[SpecializationCode] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_SpecializationCode]
GO
ALTER TABLE [dbo].[DisciplinesTaught]  WITH CHECK ADD FOREIGN KEY([Personnel_id])
REFERENCES [dbo].[Personnel] ([id])
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD FOREIGN KEY([Personnel_id])
REFERENCES [dbo].[Personnel] ([id])
GO
ALTER TABLE [dbo].[TrainingDirectionsAndSpecialties]  WITH CHECK ADD FOREIGN KEY([Personnel_id])
REFERENCES [dbo].[Personnel] ([id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD FOREIGN KEY([Personnel_id])
REFERENCES [dbo].[Personnel] ([id])
GO
USE [master]
GO
